<form action="/api/countries/add" method="post">
  <label for="name">Country name:</label>
  <input type="text" name="name" required>
  
  <label for="alpha2code">Alpha2Code:</label>
  <input type="text" name="alpha2Code" required>
  
  <label for="alpha3code">Alpha3Code:</label>
  <input type="text" name="alpha3Code" required>
  
  <input type="submit" value="Submit">
</form>
